body {
  background-image: url("../../images/background.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1920px 1080px;
}

.searchbar {
  display: flex;
  padding-top:;
  justify-content: center;
}

.lorem-ipsum {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, .5); /* Black w/opacity/see-through */
  color: white;
  font-weight: lighter;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #f1f1f1;
  border-color: white;
  position:absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}