.list {
  display: flex;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  width:fit-content;
  justify-content: center;
}

.list:hover{
  transform: scale(1.2);
  opacity:100%;
}