h1 {
  display: flex;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 300%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-block: 20px;
  padding-inline: 20px;
  width: fit-content;
  background-color: black;
  border: 1px solid #f1f1f1;
  border-color: white;
  background-size: contain;
}